@model eTicaretProjesi.ENT.ViewModel.UrunlerViewModel
@{
    ViewBag.Title = "UrunListele";
    Layout = "~/Views/Shared/_LayoutPageMain.cshtml";
}

<h2>UrunListele</h2>

<p>
    @Html.ActionLink("Yeni Ürün Ekle", "UrunEkle")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UrunAD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UrunFiyat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UrunAciklama)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UrunTanitim)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GununUrunu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AltKategoriAd)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.UrunlerList)
    {
<tr>
            <td>
                @Html.DisplayFor(modelItem => item.UrunAD)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UrunFiyat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UrunAciklama)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UrunTanitim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GununUrunu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Altkategori.AltKategoriAD)
            </td>
            <td>
                @Html.ActionLink("Ürün Güncelle", "UrunGuncelle", new { id = item.UrunID /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Ürün Detay", "UrunDetay", new { id = item.UrunID /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Ürün Sil", "UrunSil", new { id = item.UrunID /* id=item.PrimaryKey */ })
            </td>
        </tr>
    </table>
