@model eTicaretProjesi.ENT.ViewModel.LoginViewModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutPageMain.cshtml";
}

<h2>Login</h2>
<div class="row">
    <div class="col-md-offset-3 col-md-6">
        <div class="panel">
            <div class="text-center text-danger">@Html.ValidationSummary()</div>
        </div>
    </div>
    <div class="col-md-offset-3 col-md-6">
        @using (Html.BeginForm("Login", "Hesap", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div class="form-group">
                @Html.LabelFor(x => x.KullaniciAd)
                @Html.TextBoxFor(x => x.KullaniciAd, new { @class = "form-control", placeholder = "Kullanıcı Adı" })
                @Html.ValidationMessageFor(x => x.KullaniciAd)
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Sifre)
                @Html.TextBoxFor(x => x.Sifre, new { @class = "form-control", placeholder = "E-Şifre", type = "password" })
                @Html.ValidationMessageFor(x => x.Sifre)
            </div>
           
            <div class="row">
                <div class="col-sm-6">
                    @Html.ActionLink("Üye değilseniz", "Register", "Account", new { @class = "btn btn-info btn-block" })<br />
                    <input type="submit" value="Giriş Yap" class="btn btn-block btn-success" /><br />
                    @Html.ActionLink("Şifremi Unuttum", "RecoverPassword", "Account", new { @class = "btn btn-warning btn-block" })
                </div>
            </div>
        }
    </div>
</div>
